<%- include ../partials/nav.ejs %>

<div class="login-page">
  <div class="login-form">
    <div class="login-text">
      <h5>LOG IN NOW</h5>
    </div>
    <form action="/login" method="post">
      <p><input type="text" name="username" placeholder="Email"></p>
      <p><input type="text" name="password" placeholder="Password"></p>
      <button>LOG IN</button>
    </form>
  </div>
</div>

