<div class="sign-up">
  <form action="/auth/sign-up" method="post">
    <h1>Sign Up</h1>
    <p><label for="first-name">First Name</label><input type="text" name="firstName"/></p>
    <p><label for="last-name">Last Name</label><input type="text" name="lastName"/></p>
    <p><label for="email">Email</label><input type="text" name="email"/></p>
    <p><label for="password">Password</label><input type="text" name="password"/></p>
    <button>Join Now</button>
  </form>
</div>