
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>
<nav>
  <a href="/"><div id="logo">JobSeekers</div></a>
  <ul class="navbar">
    <li><a href="">HOME</a></li>
    <li><a href="">ABOUT</a></li>
    <li><a href="">JOBS</a></li>
    <li><a href="">CONTACT</a></li>
  </ul>
  <% if(userId != undefined){%>
    <a href="/logout" id="login">LOG OUT</a>
    <a href="/users/<%=userId%>" id="user-profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
    <% if(userType == "employer"){%>
      <a href="/users/<%= userId%>/jobs/new" id="login"><button>POST JOB</button></a>
    <%}%>
  <%} else{%>
    <a href="/register"><button>SIGN UP</button></a>
    <a href="/login" id="login">LOG IN</a>
  <%}%>
  
</nav>
<div class="alert-message">
  <h3><%= msg %></h3>
  <a href="">X</a>
</div>