
<link rel='stylesheet' href='/stylesheets/style.css' />
<nav>
  <div id="logo">JobSeekers</div>
  <ul class="navbar">
    <li><a href="">HOME</a></li>
    <li><a href="">ABOUT</a></li>
    <li><a href="/jobs/new">JOBS</a></li>
    <li><a href="">CONTACT</a></li>
  </ul>
  <a href="/auth/sign-up"><button>JOIN NOW</button></a>
</nav>