
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>
<!-- Tiny Mce -->
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '.description'
  });
  </script>
<nav>
  <div class="nav-wrapper">
    <a href="/"><div id="logo"><b>Job</b>Seekers</div></a>
    <ul class="navbar">
      <li><a href="/">HOME</a></li>
      <% if(userId != undefined){%>
        <li><a href="/users/<%= userId%>/my_saved_jobs">MY JOBS</a></li>
    <%} else{%>
      <li><a href="#">ABOUT</a></li>
    <%}%>
      <li><a href="/jobs">JOBS</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <% if(userId != undefined){%>
      <% if(userType == "employer"){%>
        <a href="/jobs/new" id="login"><button>POST JOB</button></a>
      <%}%>
      <a href="/users/<%=userId%>" id="user-profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
      <a href="/logout" id="login">LOG OUT</a>
    <%} else{%>
      <a href="/register"><button>SIGN UP</button></a>
    <%}%>
    <i class="fa fa-search" aria-hidden="true" class="search-btn"></i>
  </div>
</nav>

<div class="search">
  <i class="fa fa-times" aria-hidden="true" class="close-btn"></i>
  <form action="/search" method="post">
    <input type="search" name="search" id="search-input"><input type="submit">
  </form>
</div>


<div class="alert-message">
  <h3><%= msg %></h3>
  <a href="">X</a>
</div>
