<%- include ./partials/nav.ejs %>

<div class="contact-page-wrapper">
	<div class="contact-page">
		<h1>Contact US 
			<div class="bottom-line"></div>
		</h1>
		<div class="contact-area">
			<div class="contact-left">
				<p><i class="fa fa-map-marker" aria-hidden="true"></i>
					2060 E 19TH Street, 6I, Brooklyn, NY 11229</p>
				<p><i class="fa fa-phone" aria-hidden="true"></i>
					+1 (917)-293-4098</p>
				<p><i class="fa fa-envelope-o" aria-hidden="true"></i>
						<a href="mailto:web.alisher89@gmail.com" target="_top">web.alisher89@gmail.com</a></p>
				<iframe
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfJNAqfi3jG96sDDGPGxu3J-uRRI97-9k&q=place_id:ChIJgUh1fY5EwokRt16q_HS3es0" allowfullscreen>
				</iframe>
			</div>
			<div class="contact-right">
				<h4>Leave us a mesage</h4>
				<form action="/contact" method="post">
					<p><input type="text" name="name"  placeholder="Name" ></p>
					<p><input type="email" name="email"  placeholder="Email" ></p>
					<p><input type="text" name="subject"  placeholder="Subject" ></p>
					<p><label for=""></label>
						<textarea id="" cols="30" rows="10" name="message" placeholder="Write your message here"></textarea>
					</p>
					<input type="submit">
				</form>
			</div>	
		</div>
	</div>
</div>

<%- include ./partials/footer.ejs %>
