<!DOCTYPE html>
<html>
  <head>
    <title>Jobseeker. Find your dream job today!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include ./partials/nav.ejs %>
    <div id="hero-section">
      <div class="hero-content">
        <h1>Find your dream job</h1>
        <p>You are a talanted, student or seeking a new job opportunity. Check thousands of available jobs and find your dream job today </p>
        <a href="/jobs"><button class="search-now">SEARCH JOBS</button></a>
      </div>
    </div>
  </body>
</html>
