<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="logo">JobSeekers</div>
      <ul class="navbar">
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="/jobs/new">JOBS</a></li>
        <li><a href="">CONTACT</a></li>
      </ul>
      <a href="/auth/sign-up"><button>JOIN NOW</button></a>
    </nav>
    <div id="hero-section">
      <div class="hero-content">
        <h1>Find your dream job</h1>
        <p>You are a talanted, student or seeking a new job opportunity. Check thousands of available jobs and find your dream job today </p>
        <button class="search-now">SEARCH JOBS</button>
      </div>
    </div>
  </body>
</html>
