    <%- include ./partials/nav.ejs %>

<% search.forEach(function(searchText){%>
  <% if(search.length < 0){%>
    <h1>Sorry nothing found for</h1>
  <%}else{%>
  <h1><a href="/jobs/<%= searchText.id%>"><%= searchText.title%></a></h1>
  <%}%>
<% })%>