body{
  background: url('/images/login-page.jpg') no-repeat center center fixed;
  background-size: cover;
}
.login-page{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form{
  align-self: center;
  height: 400px;
  width: 300px;
  background-color: rgba(242, 242, 242, 0.75);
  text-align: center;
  border-radius: 3px;
}
.login-form h5{
  color: #14596f;
  font-size: 1.2em;
}
.login-form form{
  margin-top: 120px;
}
.login-form form input{
  width: 80%;
  border-radius: 15px;
  height: 35px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid;
  padding: 3px 3px 3px 10px;
}
input:focus{
  outline: none;
}

.login-form button{
  width: 80%;
  height: 33px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #1f748e;
  background-color: #1f748e;
  color: #e0dfe0;
  cursor: pointer;
}