nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  height: 70px;
  padding: 5px;
  flex-wrap: wrap;
}

.navbar{
  display: flex;
  justify-content: center;
  flex: 0 50%;
}
.navbar li{
  margin: 0 40px;
}

/*#logo b{
  color: red;
}*/
#logo{
  color: #d0cccc;
  font-size: 30px;
  font-weight: 700;
}
.navbar li a{
  color: #d0cccc;
  transition: color 0.3 ease;
  transition: zoom 0.3 ease;
}

.navbar li a:hover{
  color: #bfd225;
}

nav button{
  width: 120px;
  height: 30px;
  padding: 7px;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
  border-radius: 6px;
}
#login{
  flex: 0 7%;
  display: block;
  margin-left: 2%;
  color: #c5c4c4;
}
#login:hover{
  color: #bfd225;
}
#user-profile i.fa{
  font-size: 24px;
  color: #d0cccc;
}

#user-profile i.fa:hover{
  color: #bfd225;

}

.alert-message{
  position: absolute;
  height: 40px;
  z-index: 4;
  text-align: center;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 100%;
}

.alert-message h3{
  background-color: #dcdedf;
  width: 60%;
  margin: 0 auto;
  padding: 12px 1px;
  border-radius: 3px;
}
.alert-message a{
  position: absolute;
  top: 12%;
  right: 21%;
  color: red;
  font-weight: 700;
}
#hero-section{
  height: 95vh;
  background-color: #34495e;
  background: url('/images/hero-img.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.hero-content{
    width: 45%;
    align-self: flex-start;
    margin-top: 270px;
    margin-left: 12%;
    color: #fefefe;
}

.hero-content h1{
  color: #fff;
  text-shadow: 0px 0px 1px #000;
}

.search-now{
  height: 40px;
  width: 180px;
  border-radius: 6px;
  background-color: #f39c12;
  border:1px solid #f39c12;
  color: #f3f0f0;
  font-size: 14px;
}