nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  height: 70px;
  padding: 5px;
}

.navbar{
  display: flex;
  justify-content: center;
  flex: 0 50%;
}
.navbar li{
  margin: 0 40px;
}

#logo{
  color: #d0cccc;
  font-size: 30px;
  font-weight: 700;
}
.navbar li a{
  color: #d0cccc;
}

nav button{
  width: 120px;
  height: 30px;
  padding: 7px;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
  border-radius: 6px;
}

#hero-section{
  height: 700px;
  background-color: #34495e;
  background: url('/images/hero-img.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.hero-content{
    width: 45%;
    align-self: flex-start;
    margin-top: 270px;
    margin-left: 12%;
    color: #fefefe;
}

.hero-content h1{
  color: #fff;
  text-shadow: 0px 0px 1px #000;
}

.search-now{
  height: 40px;
  width: 180px;
  border-radius: 6px;
  background-color: #f39c12;
  border:1px solid #f39c12;
  color: #f3f0f0;
  font-size: 14px;
}