@import url("nav.css");
@import url("auth.css");
@import url("user-profile.css");
@import url("create-job.css");
@import url("my_saved_jobs.css");

*{
  box-sizing: border-box;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li{
  list-style-type: none;
}


.sign-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

