<%- include ../partials/nav.ejs %>
<form action="/jobs/new" method="post">
  <p><label for="">Title</label><input type="text" name="title"></p>
  <p><label for="">Description</label><input type="text" name="description"></p>
  <p><label for="">Budget</label><input type="text" name="budget"></p>
  <p><label for="">Level</label><input type="text" name="level"></p>
  <p><label for="">Category</label><input type="text" name="category"></p>
  <button>Post</button>
</form>