<%- include ../partials/nav.ejs %>

<ol>

  <% user.forEach(function(user){%>
  <li>
  <h2><a href="/users/<%= user._id%>"><%= user.username%></a></h2>
 </li>
  <% }) %>
</ol>

<%- include ../partials/footer.ejs %>
