<div class="sign-up">
  <form action="/users/new" method="post">
    <h1>Sign Up</h1>
    <p><label for="first-name">Name</label><input type="text" name="name"/></p>
    <p><label for="email">Email</label><input type="text" name="email"/></p>
    <p><label for="password">Ade</label><input type="number" name="age"/></p>
    <p><label for="last-name">Password</label><input type="password" name="password"/></p>
    <button>Join Now</button>
  </form>
</div>